@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header__subheader {
    display: flex;
    flex: none;
    justify-content: center;
    background-color: greenyellow;
    height: 32px;
    transition-property: height;
    transition-duration: 1000ms;
  }

  .header__subheader--hidden {
    display: flex;
    flex: none;
    justify-content: center;
    background-color: greenyellow;
    transition-property: height;
    transition-duration: 1000ms;
    height: 0;
  }
}
